<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{admin.titulo}"></title>
</head>
<body>

<header th:replace="~{layout/plantilla :: header}"></header>

<h1 th:text="#{admin.titulo}"></h1>
<a th:href="@{/thymeleaf}">Regresar</a>
<br>
<table border="1">
    <thead>
    <tr>
        <th>Usuario</th>
        <th>Acción</th>
    </tr>
    </thead>

    <tbody th:if="${usuarios != null and !usuarios.empty}">
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.username}">Mostrar username</td>
            <td>
                <a th:href="@{/admin/quitarAdmin(id=${usuario.id})}" th:if="${usuarioAutenticado.username != usuario.username}" >Quitar admin</a>
                <p th:if="${usuarioAutenticado.username == usuario.username}" style="color: gray; margin: 0" >Quitar admin</p>
            </td>
        </tr>
    </tbody>
    <tbody th:if="${usuarios == null or usuarios.empty}">
        <tr>
            <td colspan="2">La lista está vacia </td>
        </tr>
    </tbody>
</table>

<br>
<h2>Agregar nuevos roles</h2>
<br>
<table border="1">
    <thead>
    <tr>
        <th>Usuario</th>
        <th> Acción</th>
    </tr>
    </thead>
    <tbody th:if="${usuariosN != null or !usuariosN.empty}">
    <tr th:each = "usuario : ${usuariosN}">
        <td th:text="${usuario.username}">username</td>
        <td>
            <a th:href="@{/admin/agregarAdmin(id=${usuario.id})}" >Agregar admin</a>
        </td>
    </tr>
    </tbody>
    <tbody th:if="${usuariosN == null or usuariosN.empty}">
    <tr>
        <td colspan="2">No hay usuarios para agregar</td>
    </tr>
    </tbody>
</table>

<footer th:replace="~{layout/plantilla :: footer}"></footer>
</body>
</html>
