<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title >Cuenta</title>
</head>
<body>

    <header th:replace="~{layout/plantilla :: header}"></header>

    <h1 >Modificar</h1>

    <form method="post" th:action="@{/cuenta}" th:object="${usuario}">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" th:field="*{username}">
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error username</span>
        <br>
        <label for="password">password:</label>
        <input type="password" name="password" id="password" th:field="*{password}" placeholder="Actualizar contraseña">
        <br>
        <input type="submit" value="Actualizar">
        <br>
        <a href="/thymeleaf" >Regresar</a>
    </form>

    <footer th:replace="~{layout/plantilla :: footer}"></footer>
</body>
</html>