<!DOCTYPE html>
<html lang="en"
xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Roles</title>
</head>
<body>

    <header th:replace="~{layout/plantilla :: header}"></header>

    <div th:if="${success}">
        <p th:text="${success}"></p>
    </div>
    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>

    <h1>Control de roles</h1>
    <a th:href="@{/}">Regresar</a>
    <form th:action="@{/roles/guardar}" method="post" th:object="${rol}">
        <label th:for="nombreRol" >Nuevo rol:</label>
        <input type="text" name="nombreRol" id="nombreRol" th:field="*{nombre}">
        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error nombre</span>
        <input type="submit" value="Guardar">
    </form>
    <br>

    <h2>Roles disponibles</h2>
    <Table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody th:if="${roles !=null or !roles.empty}">
            <tr th:each="rol : ${roles}">
                <td th:text="${rol.nombre}"></td>
                <td>
                    <form th:action="@{/roles/eliminar}" method="post">
                        <input type="hidden" name="id" th:value="${rol.id}"/>
                        <input type="submit" value="Eliminar" th:disabled="${rol.nombre == 'ROLE_ADMIN' or rol.nombre == 'ROLE_USER'}"/>
                    </form>
                </td>

            </tr>
        </tbody>
        <tbody th:if="${roles == null or roles.empty}">
            <tr>
                <td colspan="2"> No hay roles disponibles </td>
            </tr>
        </tbody>
    </Table>

    <footer th:replace="~{layout/plantilla :: footer}"></footer>
</body>
</html>